body {
  background-color: darkgoldenrod;
  color: antiquewhite;
}
.app {
  display: flex;
  display: block;
  text-align: center;
  
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.color-board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  color: antiquewhite;
  background-color: rgb(181, 133, 226);
  justify-items: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  cursor: pointer;
  display: block;
}

button {
  height: 40px;
  background-color: blue;
  color: white;
  font-size: large;
}
