* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  }
  .div {
    background-color: #ffffff;
    /* height: 853px; */
    overflow: hidden;
    position: relative;
    width: 550px;
    }