/* Reset */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Nav */
.nav-container {
  height: 60px;
  width: 100%;
  background-color: #007bff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}

.nav-link {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px;
}

.nav-link:last-child {
  margin-right: 20px;
}

/* Auth Form */
.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.auth-form-container > input,
.auth-form-container > button {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.auth-form-container > button {
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
}

.auth-form-container > button:hover {
  background-color: #0056b3;
}

/* Auth */
.auth-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* Post Form */
.post-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  background-color: #ffffff;
}

.post-form-container > input,
.post-form-container > textarea {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.post-form-container > button {
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
}

.post-form-container > button:hover {
  background-color: #0056b3;
}

/* Profile */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vote-button-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin-bottom: 10px;
}

.vote-button-container > button {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}

.vote-button-container > button:hover {
  background-color: #0056b3;
}

.vote-button-container > p {
  margin-left: 5px;
}

.profile-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container {
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .auth-form-container {
    width: 250px;
  }
  
  .post-form-container {
    width: 300px;
  }
  
  .post-container {
    width: 300px;
  }
}
