/* Enhanced styles for a modern and clean appearance */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #a1977b; /* Softer background color for a modern look */
  color: #ebe1c1; /* Slightly darker text color for better readability */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
  margin: 0; /* Removes default body margin */
}

.container {
  max-width: 800px;
  width: 100%; /* Ensures it doesn't exceed the viewport width */
  padding: 20px;
  background-color: #607746;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Softer shadow for depth */
  border-radius: 10px;
  display: flex; /* Enables flexbox */
  flex-direction: column; /* Stacks children vertically */
  align-items: center; /* Centers children horizontally */
}

h4 {
  color: #fcb73f;
}


.form-group {
  width: 100%; /* Ensures form elements use full container width */
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensures input elements use full width */
}

.input-group label {
  margin-bottom: 5px;
  color: #ebe1c1; /* Slightly darker label color */
}

.input-group input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #b1c49e; /* Softer border color */
  border-radius: 5px;
  background-color: #a1977b;
  color: a73f2d; /* Lighter input background for contrast */
}

.btn {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fcb73f; /* Updated primary button color */
  color: #333333;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #333333;
  color: #fcb73f; /* Darker shade on hover */
}

/* Add/Edit/Delete functionality styles */
.btn-danger {
  background-color: #c53030; /* Softened red for danger actions */
  margin: 5px;
  color: #efb73f;
}

.btn-danger:hover {
  background-color: #fcb73f;
  color: #c53030; /* Darker shade on hover */
}

.btn-secondary {
  margin-left: 10px;
  background-color: #607746; 
  color: #ebe1c1;/* Updated secondary button color */
}

.btn-secondary:hover {
  background-color: #ebe1c1; 
  color: #607746;/* Darker shade on hover */
}
.card {
  background-color: #e8debe;
  color: #607746;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px;
  text-align: center;
}
.card > ul > li {
  background-color: #b1c49e;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px;
  color: #333333;
  font-weight: 700;
}
