/* Global styles inspired by Boba Fett's theme */
body {
    font-family: 'Orbitron', sans-serif; /* Futuristic font for a Star Wars feel */
    background-color: #1c1c1c; /* Dark background to match Boba Fett's armor */
    color: #d9d9d9; /* Soft white for text, ensuring readability */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #3a3a3a; /* Dark grey to complement the theme */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sharper shadow for depth */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1{
    color: darkorange;
  }
  
  h4 {
    color: #e61919; /* Vibrant red inspired by Boba Fett's armor accents */
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .input-group label {
    margin-bottom: 5px;
    color: #d9d9d9;
  }
  
  .input-group input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #525252; /* Subtle border color for inputs */
    border-radius: 5px;
    background-color: #2a2a2a; /* Slightly lighter input background */
    color: #d9d9d9; /* Text color for inputs */
  }
  
  .btn {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background-color: greenyellow; /* Deep green inspired by Boba Fett's primary armor color */
    color: #333333;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #004c00; /* Darker green on hover for interaction feedback */
    color: #f0f0f0;
  }
  
  .btn-danger {
    background-color: #8b0000; /* Dark red for dangerous actions, echoing the armor's red accents */
    margin: 5px;
    color: #ffffff;
  }
  
  .btn-danger:hover {
    background-color: #660000; /* Darker red on hover */
    color: #ffffff;
  }
  
  .btn-secondary {
    background-color: greenyellow; /* Neutral secondary button */
    color: #333333;
  }
  
  .btn-secondary:hover {
    background-color: #d9d9d9;
    color: #333333;
  }
  
  .card {
    background-color: #2a2a2a;
    color: #d9d9d9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 15px;
  }
  
  .card > ul > li {
    background-color: #525252; /* Dark list items to fit the theme */
    color: darkorange;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    list-style-type: none;
  }
  