/* Light Theme *?

/* General body styling */
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

/* Navigation styling */
nav {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
}

.intro {
  text-align: center;
}

/* Form styling */
form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="date"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

/* Instructional text styling */
.instructions {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #007bff;
}

.instructions h2 {
  margin-top: 0;
}

.instructions p {
  line-height: 1.3;
}

.instructions li {
  padding: 10px;
  line-height: 1.2;
}

/* Dark Theme */
.dark-theme body {
  background-color: #444; /* Dark gray background color for body */
  color: #fff; /* Text color for dark theme */
}

.dark-theme h1 {
  color: #fff;
}

.dark-theme h2 {
  color: #fff;
}

.dark-theme p {
  color: #fff;
}

.dark-theme nav {
  background-color: #555; /* Darker background color for nav */
}

.dark-theme nav a {
  color: #ffffff; /* Link color for dark theme */
}

.dark-theme form {
  background-color: #555; /* Darker background color for form */
  color: #fff; /* Text color for form */
}

/* Additional dark theme styles */
.dark-theme {
  background-color: #333; /* Dark background color outside the application area */
}

.dark-theme .instructions {
  background-color: #555; /* Darker background color for instructions */
  color: #fff; /* Text color for instructions in dark theme */
}

