* {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #03615c;
  color: #444;
  line-height: 1.6;
}

h1 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
}

p {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.movie-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: center;
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #eee;
}

.movie-info {
  padding: 15px;
}

.movie-title {
  font-weight: bold;
}

.movie-description {
  margin-top: 5px;
  color: #777;
}

/* Updated CSS for form component */

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: #4caf50;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: chocolate;
  width: 100px;
  margin: 5px;
}

.edit-btn {
  background-color: cornflowerblue;
  width: 100px;
  margin: 5px;
}

.close-btn {
  background-color: rebeccapurple;
  width: 200px;
}

form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  max-width: 300px;
  margin: auto;
}
