/*General styling*/
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

html, body {
    padding: 0;
    margin: 0;
  }
  
  body {
    color: #325050;
    background: #fff;
    font-size: 80%;
    font-family: 'Libre Baskerville', sans-serif;
    background-image: url(./assets/images/bamboo.png);
  
}
abbr {
    border: none;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.01em;
}
h1 {
   display: inline-flex;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3.2em;
    text-transform: uppercase;
    color: rgba(255,255,255,0.6);
    font-weight: bold;
    
}
#leftM{
    margin-left: 100px;
    /* margin-top: 40px; */
}
#div1-h2{
  margin-left: 100px;
}

h2{
    
    color: rgba(255,255,255,0.6);
    font-size: 1.6em;
    font-style: italic;
    font-weight: normal;
    
}

h3 {
    
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    text-transform: uppercase;
    
}
p {   
   
   line-height: 2;
}

ul {
    
    
}
li {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    text-transform: uppercase;
}
.auth-li {
    color: #616857;
    font-size: 0.9em;
    font-style: normal;
}
#viewall {
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 71px;
    line-height: 50px;
    margin-bottom: 0.25em;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.65);
}
a:visited {
    color: #1a5952;
}

/*  GRID LAYOUT on DIVS*/
.container {  display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 1.5fr 1.5fr 1.5fr 2.5fr 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "div-1 div-2"
      "div-3 div-4"
      "div-5 div-6"
      "div-7 div-8"
      "div-9 div-9"
      "div-10 div-10";
      
  }
  
  .div-2 { 
    grid-area: div-1; 
    
    background-image: url(./assets/images/huntington.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    
    
    
    
    
}
#sec2-btn{
  height: 60px;
  width: 300px;
  
}


  
  .div-1 { 
    grid-area: div-1;
    background-image: url(./assets/images/huntington.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    align-content: center;   
 }
  
  .div-3 > p{ 
    grid-area: div-3;
    color: #2e484c;
    display: flex;
    justify-content: space-evenly;
    
    
    
    
}
  
  .div-4 { 
    grid-area: div-4;
    display: flex;
    justify-content: center;
    
 }
  
  .div-5 { 
    grid-area: div-5;
    background-attachment: scroll, scroll, fixed;
    background-color: rgba(138,188,159,0.5);
    background-image: url(./assets/images/contours.png), url(./assets/images/gridlines.png), url(./assets/images/bamboo.png);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    display: flex;
    justify-content: space-evenly;
    
} 

  
  .div-6 { 
    grid-area: div-6;
    background-attachment: scroll, scroll, fixed;
    background-color: rgba(138,188,159,0.5);
    background-image: url(./assets/images/contours.png), url(./assets/images/gridlines.png), url(./assets/images/bamboo.png);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    display: flex;
    justify-content: center;
    
     
}
  
  .div-7 { 
    grid-area: div-7;
    display: flex;
    justify-content: center;
     
 }
  
  .div-8 { 
    grid-area: div-8;

}
  
  .div-9 { 
    grid-area: div-9; 
    background-image: url(./assets/images/contours.png), url(./assets/images/gridlines.png), url(./assets/images/noise.png), url(./assets/images/koi.jpg); 
    color: #fff;
    
}
.div-9 > h2{
  margin-left: 100px;
    margin-top: 70px;
}

.div-9 > h3{
    color: #fff;
    justify-content: center;
}
  
  .div-10 { 
    grid-area: div-10;
    clear: both;
    padding: 3em 10%;
    color: #fff;
    background: #134347;
    text-align: center;
 }


/* FLEX for Icons in div 10*/
.icons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.icons > div {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}

