.container {
    display: grid;
    grid-template-rows: repeat(6, 50px);
    grid-template-columns: 2fr 1fr;
}

.container > div {
    border: solid black 2px;
}

.authors {
    background-color: lightcoral;
}

.links {
    background-color: lightpink;
}

.footer {
    width: 100%;
    background-color: aquamarine;
    grid-column: 1 / -1;
}

@media (max-width: 900px) {
    .authors, .links {
        order: 1; /* Change the order to make them appear at the bottom */
    }

    .container {
        grid-template-columns: 1fr; /* Change to a single column for smaller screens */
    }
}

/* FLEX */
.icons {
    display: flex;
    justify-content: space-around;
    width: 100%; /* Change to full width */
    margin: auto;
    padding: 10px;
}

.icons > div {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}
