html, body {
    padding: 0;
    margin: 0;
  }
  body {
    color: #325050;
    background: #fff;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 70%;
  }
  /* @font-face {
	font-family: 'verdemoderna';
	src:url('verdemoderna.eot');
	src:url('verdemoderna.eot?#iefix') format('embedded-opentype'),
		url('verdemoderna.woff') format('woff'),
		url('verdemoderna.ttf') format('truetype'),
		url('verdemoderna.svg#verdemoderna') format('svg');
	font-weight: normal;
	font-style: normal;
  } */

h1 {
    width: 100%;
    margin-bottom: 4px;
    color: #FFFF;
    font-size: 24px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: normal;
}

h2 {
    width: 100%;
    font-size: 14px;
    font-family: 'Libre Baskerville', sans-serif;
    margin: 4px 0;
    color: rgb(255, 255, 255, 0.6);
    font-style: italic;
    font-weight: normal;
}

h3 {
    margin: 3px 0 0 0;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}
p {
    font-size: 14px;
    margin: 12px 0;
    line-height: 2;
    color: #325050;
    font-family: 'Libre Baskerville', sans-serif;
}
.container {
    display: grid;
    
    grid-template-columns: 2fr 1fr;
}
.col-1{
    grid-column: 1 / 2;
}
.col-2{
    grid-column: 2 / -1;
}
#sec-four{
    grid-column: 2 / -1;
}

.container > div {
    border: solid black 2px;
}

.authors {
    background-color: lightcoral;
    grid-column: 2 / -1;
}

.links {
    background-color: lightpink;
}

.footer {
    width: 100%;
    background-color: aquamarine;
    grid-column: 1 / -1;
}

@media (max-width: 900px) {
    .authors, .links {
        order: 1; /* Change the order to make them appear at the bottom */
    }

    .container {
        grid-template-columns: 1fr; /* Change to a single column for smaller screens */
    }
}

/* FLEX */
.icons {
    display: flex;
    justify-content: space-around;
    width: 100%; /* Change to full width */
    margin: auto;
    padding: 10px;
}

.icons > div {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}