* {
  box-sizing: border-box;
  background-color: rgb(142, 179, 196);
}

* {
  box-sizing: border-box;
}

.box {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 4px;
  border-radius: 7px;
}
