* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: lighter;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(124, 87, 159);
    margin: 0;
}

h1{
    color: rgb(240, 108, 13);
    margin-right: 75px;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
    max-height: 80vh;
    background-color: rgb(58, 108, 173);
    color: rgb(240, 108, 13);
    border-radius: 10px;
}

li {
    background-color: white; /* Adjust as needed */
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

/* Add any additional styling as needed */
